# SECRET_KEY=your-secret-key-here
# DEBUG=True
# ALLOWED_HOSTS=localhost,127.0.0.1

# # Khalti payment keys
# KHALTI_SECRET_KEY=Key d61969702a564333a3d8ca903316702e
# KHALTI_PUBLIC_KEY=1380f3ea80f94aeb98eea56e04c63386

# Google Gemini API key for the AI relational product finder
# GEMINI_API_KEY=your-gemini-api-key

# Cloudinary media storage (persistent on Vercel)
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret



SECRET_KEY=django-insecure-vx!0!*p&z$fawjgyd@r-v0v70grzf!(-c(i87qwq#ndwbwmmpy
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

